<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
		<!-- Excel 模块的测试套件 -->
        <testsuite name="Excel">
            <directory suffix="Test.php">tests\Unit\Excel</directory>
        </testsuite>
		<!-- Calendar 模块的测试套件 -->
		<testsuite name="Calendar">
            <directory suffix="Test.php">tests\Unit\Calendar</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED" />
    </php>
</phpunit>